
.h1 {
  color: #ffffff;
  text-align: center;
  font-size: 80px;
}


.d-grid{
  margin: auto;
  max-width: 300px;
}

.chart{
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (max-width: 800px) {
  .chart {
    margin: 0;
  }
}