.newVisualization{
    height: 100%;
    width: 100%;
}

.profile-card{
    background-color: transparent;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: none;

}

.profile-card ul{
    list-style-type: none;
}

